body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
  padding: 0.4em;
  text-shadow: 0 0 7px rgb(151, 151, 151), 0 0 10px rgb(151, 151, 151),
    0 0 21px rgb(151, 151, 151), 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa,
    0 0 102px #0fa, 0 0 151px #0fa;
}
// Nestning
nav {
  margin-top: 2%;
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    font-size: larger;
    gap: 50px;
  }
  a {
    color: $textColor;
    text-decoration: none;
    padding: 14px 16px;
    font-size: larger;
    text-shadow: 0 0 7px rgb(172, 172, 172), 0 0 10px rgb(141, 141, 141),
      0 0 21px rgb(144, 144, 144), 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa,
      0 0 102px #0fa, 0 0 151px #0fa;
  }

  ul li {
    @include listStyle;
    &:hover {
      @include hover;
    }
  }
}

.container {
  margin: auto;
  width: 99.6%;
  background-color: $boxColor;
  border-radius: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 43px;
  padding-bottom: 1%;
}

// inkludera mixin boxes
#box1 {
  @include boxes;
  h2 {
    color: $textColor;
  }
  p {
    font-size: larger;
  }
}

// extend färdig css från box1 till box2
#box2 {
  @extend #box1;
  img {
    @include circle($circle: true);
    height: 200px;
    width: 300px;
    float: left;
  }
  p {
    float: right;
  }
}

footer {
  margin-bottom: 1%;
  li {
    @include listStyle;
    list-style: none;
    text-align: center;
    color: $textColor;
    font-size: larger;
    max-width: 60%;
    margin: 0 auto;
  }
}

// media queris
@media screen and (max-width: 650px) {
  #box2 {
    margin-top: 10%;
  }
}
