// $blue: rgb(216, 80, 46);
// $lightblue: lighten($blue, 30%);
// header {
//   background-color: $lightblue;
// }
// @mixin boxes($circle: false) {
//   height: 100px;
//   width: 100px;

//   @if $circle {
//     border-radius: 50%;
//   } @else {
//     border-radius: 10px;
//   }
// }

// #box1 {
//   @include boxes;
//   background-color: $blue;
// }

// #box2 {
//   @include boxes($circle: true);
//   background-color: $blue;
// }

// #box3 {
//   @extend #box1;
// }

// importera de andra filerna.
@import "slideshow";
@import "basic";
body {
  background-color: $bgColor;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  text-align: center;
  color: $textColor;
}

nav {
  background-color: $mainColor;

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: larger;
  }
  a {
    color: $textColor;
    text-decoration: none;
    padding: 14px 16px;
    font-size: larger;
  }

  ul li {
    padding: 10px;
  }

  li:hover {
    @include hover;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1 auto;
}

#box1 {
  @include boxes;
  background-color: $mainColor;
  color: $textColor;
  max-width: 100%;
}

#box1 p {
  padding: 5%;
  font-size: large;
}

#box2 img {
  @include boxes($circle: true);
  @extend #box1;
}

footer {
  background-color: $footerColor;
}
